<div class="row justify-content-center py-4">
  <div class="col col-md-8">
    <div class="row">
      <div class="col-12 col-lg-4"></div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <label class="ms-2 pb-2 footer-label">Aceptamos</label>
        <div class="'payment-options">
          <img
            src="/assets/images/payment-options/Mastercard-logo.jpg"
            class="mx-1"
            alt="Mastercard Logo"
          />
          <img
            src="/assets/images/payment-options/Discover-logo.jpg"
            class="mx-1"
            alt="Mastercard Logo"
          />
          <img
            src="/assets/images/payment-options/Amex-logo.jpg"
            class="mx-1"
            alt="Mastercard Logo"
          />
          <img
            src="/assets/images/payment-options/Paypal-logo.jpg"
            class="mx-1"
            alt="Mastercard Logo"
          />
          <img
            src="/assets/images/payment-options/Stripe-logo.jpg"
            class="mx-1"
            alt="Mastercard Logo"
          />
        </div>
      </div>
      <div class="col-12 ol-md-6 col-md-4">
        <div class="contacto-holder align-bottom">
          <div class="icon-holder">
            <i class="bi bi-envelope contacto-icon me-1"></i>
          </div>
          <div class="contacto-labels-holder align-bottom">
            <div class="ms-2 footer-label contacto-label pb-2">Contacto</div>
            <div class="ms-2 footer-label correo-label pb-2">
              info@emprend.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
