.footer-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.icon-holder {
  display: inline-block;
}
.contacto-icon {
  justify-items: end;
  text-align: right;
  font-size: xx-large;
  display: inline-block;
}

.contacto-labels-holder {
  display: inline-block;
}

.contacto-label {
  font-size: 1rem;
  text-align: left;
}

.correo-label {
  font-size: 0.75rem;
}
