<div class="servicios-holder p-5 container-fluid" id="servicios">
  <div clss="container">
    <div class="row justify-content-left">
      <div class="col-12 col-md-6 col-12">
        <h2 class="tittle">Servicios</h2>
        <app-separador></app-separador>
      </div>
      <div class="col col-sm-6 col-12"></div>
    </div>

    <div class="mt-5">
      <div class="row justify-content-center">
        <div class="col col-4 col-md-2 servicio-holder-ind">
          <i class="bi bi-laptop icon"></i>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
        <div class="col col-4 col-md-2 servicio-holder-ind">
          <i class="bi bi-keyboard icon"></i>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
        <div class="col col-4 col-md-2 servicio-holder-ind">
          <i class="bi bi-folder2-open icon"></i>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
        <div class="col col-4 col-md-2 servicio-holder-ind">
          <i class="bi bi-calendar icon"></i>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
        <div class="col col-4 col-md-2 servicio-holder-ind">
          <i class="bi bi-display icon"></i>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
        <div class="col col-4 col-md-2 servicio-holder-ind">
          <i class="bi bi-boombox icon"></i>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
      </div>
    </div>
  </div>
</div>
