@font-face {
  font-family: "poppins-light";
  src: url("./FontsFree-Net-Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-black";
  src: url("./FontsFree-Net-Poppins-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
