<div class="caracteristicas-holder p-5" id="caracteristicas">
  <div clss="container">
    <div class="row justify-content-left">
      <div class="col-12 col-md-6 col-12">
        <h2 class="tittle">Caracteristícas</h2>
        <app-separador></app-separador>
      </div>
      <div class="col-12 col-md-6 col-12"></div>
    </div>

    <div class="mt-5">
      <div class="row justify-content-center">
        <div class="col-1 col-md-7 col-12">
          <div class="row justify-content-left">
            <div class="col-1 icon-holder">
              <i class="bi bi-music-note-beamed icon"></i>
            </div>
            <div class="col-10 text-holder">
              <h4 class="caracteristica-tittle">Lorem ipsum</h4>
              <p class="caracteristica-texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames. Lacus vestibulum sed arcu non odio euismod
                lacinia at quis.
              </p>
            </div>
          </div>
          <div class="row justify-content-left">
            <div class="col-1 icon-holder">
              <i class="bi bi-cash icon"></i>
            </div>
            <div class="col-10 text-holder">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames. Lacus vestibulum sed arcu non odio euismod
                lacinia at quis.
              </p>
            </div>
          </div>
          <div class="row justify-content-left">
            <div class="col-1 icon-holder">
              <i class="bi bi-folder2-open icon"></i>
            </div>
            <div class="col col-sm-10 text-holder">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames. Lacus vestibulum sed arcu non odio euismod
                lacinia at quis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-1 col-md-5 col-12">
          <div class="caracteristicas-banner"></div>
        </div>
      </div>
    </div>
  </div>
</div>
