@import "../../../environments/styles/colors.scss";
@import "../../../environments/styles/breakpoints.scss";

.caracteristicas-holder {
  background-color: $emprend-white;

  .tittle {
    font-weight: 900;
    font-family: "poppins-dark", sans-serif;
  }

  .separador {
    height: 2px;
    background-color: $emprend-red;
    display: block;
  }

  .icon {
    font-size: 1.5rem;
    color: $emprend-red;
    display: block;

    @media (min-width: $medium-screen) {
      font-size: 2rem;
    }
    margin-right: 20px;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: $emprend-red;
  }

  p {
    font-size: 1rem;
    color: black;
  }

  .caracteristicas-banner {
    background-image: url("/assets/images/caracteristicas-banner2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 600px;
  }
}
