@import "../../../environments/styles/breakpoints.scss";
@import "../../../environments/styles/colors.scss";

.nav-link {
  color: #fe6261;
}
.logo {
  height: 40px;
  width: auto;
}
.brand {
  font-size: xx-large;
  min-width: 210px;
}
