<div class="container-fluid">
  <div class="navbar navbar-expand-md">
    <div class="navbar-brand brand" href="#">
      <img src="/assets/images/eprend-icon.jpg" class="logo" alt="Logo" />
      <label class="poppinsD-font ms-2">emprenD</label>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-evenly" id="navbarNav">
      <ul class="header-navbar navbar-nav mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#caracteristicas">Caracteristicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#equipo">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</div>
