.cust-dp2 {
  border: none;
  background-color: white;
  width: 60%;
  height: 40px;
  max-width: 300px;
  //display: inline-block;
}

.cust-dp {
}

.mat-datepicker-content {
  max-width: 300px;
  width: 300px;
  background-color: white;
}

mat-datepicker {
  max-width: 300px;
  width: 300px;
  background-color: white;
}
