<div class="nosotros-holder container-fluid" id="nosotros">
  <div clss="container">
    <div class="row">
      <div class="col-12 col-md-6 py-5">
        <div class="row justify-content-center">
          <div class="col col-sm-10 my-1">
            <h2 class="nosotros-tittle">Nosotros</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-10 separador my-1"></div>
        </div>
        <div class="row justify-content-center">
          <div class="col col-sm-10 my-1">
            <p class="nosotros-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean
              euismod elementum nisi quis eleifend quam adipiscing. Volutpat sed
              cras ornare arcu.
            </p>
            <p class="nosotros-text">
              Facilisis magna etiam tempor orci eu lobortis elementum nibh
              tellus. Diam quis enim lobortis scelerisque fermentum. Mauris
              pharetra et ultrices neque ornare aenean. Et leo duis ut diam quam
              nulla porttitor massa. At risus viverra adipiscing at in tellus
              integer.
            </p>
            <button class="share-button p-2 px-5 mt-3">
              <i class="bi bi-arrow-right"></i> Soy un boton
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <div class="nosotros-banner"></div>
      </div>
    </div>
    <div></div>
  </div>
</div>
