@import "../../../environments/styles/colors.scss";

.nosotros-holder {
  background-color: $emprend-white;
  .nosotros-banner {
    background-image: url("/assets/images/nosotros/nosotros-background.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 600px;
  }

  .nosotros-tittle {
    font-weight: 900;
    font-family: "poppins-dark", sans-serif;
  }

  .separador {
    height: 2px;
    background-color: $emprend-red;
    display: block;
  }

  .share-button {
    background-color: $emprend-red;
    border: 0dvi;
    color: $emprend-white;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "poppins-light", sans-serif;

    transition: background-color 0.3s ease-in-out;
  }

  .share-button:hover {
    background-color: #cc0000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}
