<div class="equipo-holder p-5" id="equipo">
  <div clss="container">
    <div class="row justify-content-left">
      <div class="col-1 col-lg-6 col-12">
        <h2 class="tittle">Nuestro equipo de trabajo</h2>
        <div class="row justify-content-left">
          <div class="col col-sm-12 separador mt-2 mb-4"></div>
        </div>
      </div>
    </div>
    <p class="equipo-texto">
      Nuestro equipo esta compuesto por individuos guapos, ingeniosos y
      superpoderosos que estan comprometidos con la madre naturaleza y utilizar
      sus poderes sobrenaturales para el bien y no para el mal. Compartimos la
      pasion por innovar y mantenernos al dia sobre los ultimos acontecimientos
      del universo
    </p>
    <div class="row justify-content-center">
      <div class="col col-md-3 m5 mb-3" *ngFor="let member of members">
        <app-member [memberDisplay]="member"></app-member>
      </div>
    </div>
  </div>
</div>
