<div class="equipo-holder p-5">
  <div clss="container">
    <div class="row justify-content-left">
      <div class="col-1 col-lg-6 col-12">
        <h2 class="tittle">Nuestro equipo de trabajo</h2>
        <div class="row justify-content-left">
          <div class="col col-sm-12 separador mt-2 mb-4"></div>
        </div>
      </div>
    </div>
    <p class="equipo-texto">
      Nuestro equipo esta compuesto por individuos guapos, ingeniosos y
      superpoderosos que estan comprometidos con la madre naturaleza y utilizar
      sus poderes sobrenaturales para el bien y no para el mal. Compartimos la
      pasion por innovar y mantenernos al dia sobre los ultimos acontecimientos
      del universo
    </p>
    <div class="row justify-content-center">
      <div class="col col-md-3 m5">
        <div class="empleado-holder py-3">
          <div class="d-flex flex-column mb-3">
            <div class="p-2 empleado-columna">
              <div class="portrait-holder">
                <img
                  src="../../../assets/images/Erlend.PNG"
                  alt="Erlend Portrait "
                />
              </div>
            </div>
          </div>
          <div class="p-2 empleado-columna">
            <div class="portrait-tittle">Steven Spilbergo</div>
          </div>
          <div class="p-2 empleado-columna">
            <p class="empleado-text mx-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="p-2 empleado-columna">Flex item 3</div>
        </div>
      </div>
      <div class="col col-md-3 m5">
        <div class="empleado-holder py-3">
          <div class="row justify-content-center">
            <div class="p-2 empleado-columna"></div>
            <div class="portrait-holder">
              <img
                src="../../../assets/images/Cristho2.jpg"
                alt="Critho Portrait "
              />
            </div>
          </div>

          <div class="p-2 empleado-columna">
            <div class="portrait-tittle">Steven Spilbergo</div>
          </div>
          <div class="p-2 empleado-columna">
            <p class="empleado-text mx-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="p-2 empleado-columna">Flex item 3</div>
        </div>
      </div>
      <div class="col col-md-3 m5">
        <div class="empleado-holder py-3">
          <div class="portrait-holder">
            <img
              src="../../../assets/images/banksy.jpg"
              alt="Banksy Portrait "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
