@import "../../../environments/styles/colors.scss";

.equipo-holder {
  background-color: white;

  .tittle {
    font-weight: 900;
    font-family: "poppins-dark", sans-serif;
  }

  .separador {
    height: 2px;
    background-color: $emprend-red;
    display: block;
  }
}
