<div class="container-fluid login-holder text-center p-5 vh-100 align-middle">
  <div class="row justify-content-center mt-5">
    <div class="col-8 col-sm-6 col-md-4 mt-5 pt-5">
      <div class="d-flex flex-column mb-3 p-3 form-holder">
        <div class="">
          <div class="brand">
            <img
              src="/assets/images/eprend-icon-dark.jpg"
              class="logo"
              alt="Logo"
            />
            <div class="poppinsD-font ms-2 brand-logo-label align-middle my-2">
              emprenD
            </div>
          </div>
        </div>

        <div *ngIf="isLoading">
          <app-loading-spinner></app-loading-spinner>
        </div>

        <div class="alert alert-danger p-2 mt-2" *ngIf="error">
          <p>{{ error }}</p>
        </div>

        <form
          (ngSubmit)="onSubmit(loginForm)"
          #loginForm="ngForm"
          *ngIf="!isLoading"
        >
          <label for="username" class="form-label login-label mt-2"
            >Usuario</label
          >

          <div>
            <input
              type="email"
              class="form-control login-input"
              id="username"
              aria-describedby="usernameHelp"
              ngModel
              name="username"
              required
              email
              #email="ngModel"
            />
            <div
              id="usernameHelp"
              class="form-text login-label login-help mt-2 p-1"
              *ngIf="email.invalid && email.dirty"
            >
              El nombre de usuario debe ser un correo
            </div>
          </div>

          <label for="login-password-input" class="form-label login-label mt-2"
            >Contraseña</label
          >

          <div>
            <input
              type="password"
              class="form-control login-input"
              id="login-password-input"
              ngModel
              name="password"
              required
              minlength="6"
              password
              #password="ngModel"
            />
            <!--   <div
              id="passwordHelp"
              class="form-text login-label login-help"
              *ngIf="password.invalid && password.dirty"
            >
              El Password no puede tener mas de 50 characteres
            </div> -->
          </div>
          <div class="login-button mt-4 justify-content-end">
            <button
              class="button py-1 px-3 me-2 switch-button"
              [class.enabled]="true"
              (click)="onSwitchMode()"
              type="button"
            >
              switch mode
              <i class="bi bi-toggle-on mt-2 ms-2"></i>
            </button>

            <button
              class="button py-3 px-5"
              [class.enabled]="loginForm.valid"
              type="submit"
              [disabled]="!loginForm.valid"
            >
              {{ isLoginMode ? "Login" : "Registrarse" }}
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
