@import "../../../environments/styles/colors.scss";

.login-holder {
  background-color: $emprend-black;

  .logo {
    height: 50px;
  }

  .brand-logo-label {
    font-size: 2rem;
    display: inline-block;
    color: white;
  }

  .login-label {
    text-align: end;
    color: white;
  }

  .login-input {
    width: 100%;
  }

  .login-button {
    display: flex;
  }
  .button {
    background-color: $emprend-red;
    border: 0dvi;
    color: $emprend-white;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "poppins-light", sans-serif;
    display: flex;

    transition: background-color 0.3s ease-in-out;
  }

  .share-button:hover {
    background-color: #cc0000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}
