<div class="container-fluid login-holder text-center p-5">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-6 col-md-4">
      <div class="d-flex flex-column mb-3 p-3">
        <div class="">
          <div class="brand">
            <img
              src="/assets/images/eprend-icon-dark.PNG"
              class="logo"
              alt="Logo"
            />
            <div class="poppinsD-font ms-2 brand-logo-label align-middle">
              emprenD
            </div>
          </div>
        </div>
        <div class="login-label mt-2">Usuario</div>
        <div>
          <input class="login-input" />
        </div>
        <div class="login-label mt-2">Contraseña</div>
        <div>
          <input class="login-input" />
        </div>
        <div class="login-button mt-3 justify-content-end">
          <button class="button py-3 px-5">
            Enviar <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
