<div class="row justify-content-center social-media-icons-bar">
  <div class="col-12 col-lg-7"></div>

  <div class="col-12 col-lg-3">
    <div class="social-media-icon-holder p-1">
      <img
        src="/assets/images/social-media/Facebook-logo.jpg"
        class="mx-1"
        alt="Facebook Logo"
      />
      <img
        src="/assets/images/social-media/Twitter-logo.jpg"
        class="mx-1"
        alt="Twitter Logo"
      />
      <img
        src="/assets/images/social-media/LinkedIn-logo.jpg"
        class="mx-1"
        alt="LinkedIn Logo"
      />
      <img
        src="/assets/images/social-media/Googleplus-logo.jpg"
        class="mx-1"
        alt="GooglePlus Logo"
      />
      <img
        src="/assets/images/social-media/Pinteres-red-logo.jpg"
        class="mx-1"
        alt="Pinterest Logo"
      />
      <img
        src="/assets/images/social-media/Youtube-red-logo.jpg"
        class="mx-1"
        alt="Youtube Logo"
      />
      <img
        src="/assets/images/social-media/Instagram-red-logo.jpg"
        class="mx-1"
        alt="Instagram Logo"
      />
    </div>
    <div class="col col-md-2"></div>
  </div>
</div>
