<div class="contacto-holder p-5" id="contacto">
  <div clss="container">
    <div class="row justify-content-left">
      <div class="col-12 col-md-6 col-12">
        <h2 class="tittle">Contacto</h2>
        <app-separador></app-separador>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="d-flex flex-column justify-content-center mb-3">
          <div class="p-2 tittle">Escríbenos</div>
          <div class="forma-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. eiusmod
            tempor.
          </div>
          <div class="p-2">
            <div class="contacto-forma-holder">
              <div class="d-flex flex-column mb-3">
                <form
                  class="form-floating form-holder"
                  [formGroup]="contactoForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="form-group">
                    <div class="p-2">
                      <i class="bi bi-person-fill icon me-2"></i>

                      <input
                        class="form-input form-control"
                        id="nombreContacto"
                        placeholder="  Nombre"
                        formControlName="nombre"
                      />
                    </div>
                    <div class="ps-5 pb-1">
                      <div
                        *ngIf="
                          contactoForm.get('nombre')?.hasError('required') &&
                          contactoForm.get('nombre')?.touched
                        "
                        id="nombreHelp"
                        class="form-input form-control contact-help"
                      >
                        Favor de registrar tu nombre
                      </div>
                    </div>
                    <div class="p-2">
                      <i class="bi bi-envelope icon me-2"></i>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-input form-control"
                        placeholder="  Correo Electronico"
                        aria-describedby="CorreoElectronico"
                        formControlName="email"
                      />
                    </div>
                    <div class="ps-5">
                      <div
                        *ngIf="
                          (contactoForm.get('email')?.hasError('required') ||
                            contactoForm.get('email')?.hasError('email')) &&
                          contactoForm.get('email')?.touched
                        "
                        id="emailHelp"
                        class="form-input form-control contact-help"
                      >
                        El correo no es valido
                      </div>
                    </div>
                    <div class="p-2">
                      <i class="bi bi-telephone-fill icon me-2"></i>
                      <input
                        type="text"
                        class="form-input"
                        placeholder="  Telefono"
                        formControlName="telefono"
                      />
                    </div>
                    <div class="ps-5">
                      <div
                        *ngIf="
                          (contactoForm.get('telefono')?.hasError('required') ||
                            contactoForm
                              .get('telefono')
                              ?.hasError('pattern')) &&
                          contactoForm.get('telefono')?.touched
                        "
                        id="emailHelp"
                        class="form-input form-control contact-help"
                      >
                        Solo de 8 a 10 numeros permitidos
                      </div>
                    </div>
                    <div class="p-2 form-group">
                      <i class="bi bi-calendar3 icon me-2"></i>
                      <app-datepicker></app-datepicker>
                    </div>
                    <div class="ps-5 pb-1">
                      <!-- <div
                        id="dateHelp"
                        class="form-input form-control contact-help"
                      >
                        Fecha no valida
                      </div> -->
                    </div>

                    <div class="p-2">
                      <i class="bi bi-wechat icon me-2 align-top"></i>
                      <textarea
                        class="form-input mensaje"
                        placeholder="  Mensaje"
                        formControlName="mensaje"
                      ></textarea>
                    </div>
                    <div class="ps-5">
                      <div
                        *ngIf="
                          (contactoForm.get('mensaje')?.hasError('required') ||
                            contactoForm
                              .get('mensaje')
                              ?.hasError('maxlength')) &&
                          contactoForm.get('mensaje')?.touched
                        "
                        id="emailHelp"
                        class="form-input form-control contact-help"
                      >
                        Mensaje requerido - Max 250
                      </div>
                    </div>

                    <div class="p-2 ms-5 justify-content-end">
                      <button
                        type="submit"
                        class="contacto-button p-2 px-5 mt-3 ms-5"
                        [class.enabled]="contactoForm.valid"
                        type="submit"
                        [disabled]="!contactoForm.valid"
                      >
                        Enviar <i class="bi bi-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 justify-content-center">
        <div class="ubicacion-info-holder justify-content-center pt-3 pb-4">
          <div class="widget-holder">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9345.300000423393!2d-117.56840307648719!3d34.09354627378458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c3358d096d4d2f%3A0xb3dd436dab33ab8a!2sRancho%20Cucamonga!5e0!3m2!1sen!2smx!4v1693897467657!5m2!1sen!2smx"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              class=""
            ></iframe>
          </div>
          <div class="d-flex flex-column mb-3">
            <div class="ms-4 mt-2 info-tittle">Ubicación</div>
            <div class="">
              <div class="row justify-content-center">
                <div class="col-10 col-sm-11 separador mt-1 mb-4"></div>
              </div>
            </div>
            <div class="p-2 ms-5">
              <i class="bi bi-telephone-fill icon me-2"></i>
              <div class="info-label">33 1234 5678</div>
            </div>
            <div class="p-2 ms-5">
              <i class="bi bi-envelope-fill icon me-2"></i>
              <div class="info-label">info@emprend.com</div>
            </div>
            <div class="p-2 ms-5">
              <i class="bi bi-geo-alt-fill icon me-2 align-top"></i>
              <div class="info-label">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
