@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/fonts/fonts.scss";
@import "./environments/styles/colors.scss";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "/src/environments/styles/colors.scss";

.poppinsD-font {
  font-family: "poppins-black", sans-serif;
}

.poppinsL-font {
  font-family: "poppins-light", sans-serif;
}

html {
  scroll-behavior: smooth;
}
