@import "../../../environments/styles/colors.scss";

.hero-banner {
  background-image: url("/assets/images/inicio-dark-background-img.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;

  .hero-banner-tittle {
    text-align: center;
    color: $emprend-white;
    font-family: "poppins-light", sans-serif;
    padding-top: 125px;
    font-weight: 1000;
    font-size: 3rem;
  }

  .hero-banner-text {
    text-align: center;
    color: $emprend-white;
    font-family: "poppins-light", sans-serif;
    font-size: 1rem;
  }

  .separador {
    height: 2px;
    background-color: $emprend-red;
    display: block;
  }
}
