@import "../../../environments/styles/colors.scss";

.idea-form-holder {
  background-color: $emprend-white;

  .separador {
    height: 2px;
    background-color: $emprend-red;
    display: block;
  }

  .idea-input-area {
    resize: none;
    width: 100%;
  }

  .share-button {
    background-color: $emprend-red;
    border: 0dvi;
    color: $emprend-white;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: "poppins-light", sans-serif;

    transition: background-color 0.3s ease-in-out;
  }

  .share-button:hover {
    background-color: #cc0000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}
