@import "../../../environments/styles/colors.scss";

.idea-form-holder {
  .separador {
    height: 2px;
    background-color: $emprend-red;
    display: block;
  }

  .tittle {
    font-weight: 900;
    font-family: "poppins-dark", sans-serif;
  }

  .idea-input-area {
    resize: none;
    width: 100%;
  }

  .idea-help {
    background-color: #e8e8e8;
    color: $emprend-red;
    font-size: 0.9em;
  }

  .share-button {
    background-color: $emprend-red;
    opacity: 0.6;
    border: 0dvi;
    color: $emprend-white;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: "poppins-light", sans-serif;

    transition: background-color 0.3s ease-in-out;
    &.enabled {
      opacity: 1;
    }

    &.enabled {
      &:hover {
        background-color: #cc0000;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
