<div class="idea-form-holder p-5">
  <div clss="container">
    <div class="row justify-content-left">
      <div class="col col-sm-6 col-12">
        <h2 class="tittle">COMPARTE TU IDEA</h2>
        <div class="row justify-content-left">
          <div class="col col-sm-12 separador mt-2 mb-4"></div>
        </div>
      </div>
      <div class="col col-sm-6 col-12"></div>
    </div>
    <textarea class="idea-input-area" rows="4" cols="100"></textarea>
    <div class="d-flex flex-row-reverse mt-2">
      <button class="share-button py-3 px-5">
        share <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
