@import "../../../environments/styles/colors.scss";

.emprend-footer {
  background-color: $emprend-black;
  color: $emprend-white;

  bottom: 0;

  .separador {
    height: 2px;
    background-color: $emprend-red;
    display: block;
  }
}
